<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="flash">
    <%= flash.notice %>
  </p>
  <div id="container">
    <div id="content">
      <%= yield %>
      </div>
  </div>
      <hr>
      
<div class="nav_bar">
    <ul>
    <span class="lft2">
    <li><b>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </b>
      </li>
    <li><%= link_to "Popular", popular_path %></li>
    </span>
    <span class="lft">
    <li><%= link_to "Authors", authors_path %></li>
    <li><%= link_to "Articles", articles_path %></li>
    <li><%= link_to "Tags", tags_path %></li>
    </span>
    </ul>
</div>
    </body>

</html>
